body {
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

a {
  color: seashell;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

header nav span {
  padding: 15px;
}

#mission {
  margin: 0 auto;
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/background.jpg);
}

.content {
  width: 100%;
  background-color: black;
}

#featured {
  margin: 0 auto;
  width: 1000px;
}

.teas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea img {
  width: 300px;
  height: 200px;
  margin: 10px;
}

#locations {
  margin: 0 auto;
  background-image: url(../images/locations-background.jpg);
  height: 500px;
  width: 1200px;
}

#locations h2 {
  padding: 15px;
  margin: 0px;
  padding-top: 50px;
}

.locations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 40px;
  opacity: 1;
  background-color: black;
}

#contact {
  height: 200px;
}

footer {
  margin: 20px;
  text-align: left;
}
